# 1.

In [ ]:
a=int(input("side 1: "))
b=int(input("side 2: "))
c=int(input("side 3: "))

print("Input lengths of the triangle sides: ")

if a==b and a==c:
    print("Equilateral triangle")
    
elif a==b or b==c or c==a:
    print("isosceles triangle")
    
else:
    print("Scalene triangle")

# 2

In [ ]:
demo = { "name": "Naeto", "age": "6years", "hobbies": "watching cartoons", "siblings": "yes,2", "favourite persons":
       "mum & anuty chioma"}

In [ ]:
demo.get("age")

# 3

In [ ]:
demo = { "name": "Naeto", "age": "6years", "hobbies": "watching cartoons", "siblings": "yes,2", "favourite persons":
       "mum & anuty chioma", "complexion": "chocolate"}

In [ ]:
demo.pop("complexion")
print(demo)

# 4

In [7]:
info = {"Name": "Chimamanda Zoe", "Location": "Amsterdam", "Gender": "Pretty lass", "Age": "Not quite sure"}

In [8]:
info['City'] = info.pop("Location")
print(info)

{'Name': 'Chimamanda Zoe', 'Gender': 'Pretty lass', 'Age': 'Not quite sure', 'City': 'Amsterdam'}

# 5

In [19]:
details = {'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22}, 
           'person2': {'name': 'Tosin', 'salary': 8000, 'age': 25},
           'person3': {'name': 'Promise', 'salary': 6500, 'age': 28}}

In [14]:
details.values()

dict_values([{'name': 'Chioma', 'salary': 7500, 'age': 22}, {'name': 'Tosin', 'salary': 8000, 'age': 25}, {'name': 'Promise', 'salary': 6500, 'age': 28}])

In [37]:
details['person2']['salary']  = 9000
print(details)

{'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22}, 'person2': {'name': 'Tosin', 'salary': 9000, 'age': 25}, 'person3': {'name': 'Promise', 'salary': 6500, 'age': 28}}

In [35]:
for x, y in details.items():
    print(x, y)

person1 {'name': 'Chioma', 'salary': 7500, 'age': 22}
person2 {'name': 'Tosin', 'salary': 9000, 'age': 25}
person3 {'name': 'Promise', 'salary': 6500, 'age': 28}

# 6

In [43]:
months = "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"

In [49]:
months_name = input("Input the name of Month: ")

if months_name == "February":
    print("No. of days: 28/29 days")
elif months_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
elif months_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 day")
else:
    print("Wrong month name")

Input the name of Month: February
No. of days: 28/29 days

# 7

In [50]:
name = "James"

In [57]:
login_name = input("Enter your name: ")

if login_name == name:
    print("Welcome on board, {}.".format(name))
    
else:
    print("Okurr! you wrong.")

Enter your name: James
Welcome on board, James.

In [56]:
login_name = input("Enter your name: ")

if login_name == name:
    print("Welcome on board, {}.".format(name))
    
else:
    print("Okurr! you wrong.")

Enter your name: amaka
Okurr! you wrong.

# 8

In [5]:
num = int(input("Enter number: "))

if num // 3:
    print(True, "num is divisble by 3")
        
else:
    print (False, "num is not divsible by 3")

Enter number: 5
True num is divisble by 3

# 9

In [ ]:
score = ("Below 40 - F, 41 to 44 - E, 45 to 49 - D, 50 to 60 - C, 60 to 69 - B, 70 and above - A")

In [1]:
login_score = int(input("Enter your score: "))

if login_score >= 70:
    print("You got an A")
     
elif login_score >= 60:
    print("You got a B")
        
elif login_score >= 50:
    print("You had a C")
            
elif login_score >= 45:
     print("D, you can do better")
                
elif login_score >= 41:
    print("E, You have to resit this course")
                    
elif login_score <= 40:
    print("F, you failed this course")
                        
else:
    print("wrong details")

Enter your score: 66
You got a B

# 10

In [ ]:
salary = int(input("Enter your salary: "))

service_yrs = int(input("Enter Years of service: "))

Bonus = 5/100


if service_yrs >= 5:
     print("{} * 5 + {}".format((salary), (Bonus)))

else:
    print("You are not eligible for bonus as you have less service years.")

In [4]:
salary = int(input("Enter your salary: "))

service_yrs = int(input("Enter Years of service: "))

bonus = 5/100
bonus_ = salary * bonus

if service_yrs >= 5:

    print("Total salary = {} * {} + {} ".format((salary), (service_yrs), (bonus)))

else:
    print("You are not eligible for bonus as you have less service years.")

Enter your salary: 5000
Enter Years of service: 5
Total salary = 5000 * 5 + 0.05

Apologises, i give up at this stage. Dont know what next to do. Awaiting your review, thank you.